{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="my-4">Sell Your Property with Seagram Properties</h1>
    <p>
        Seagram Properties stands as your trusted partner in the quest to sell your property.
    </p>


    <h2 class="my-4">Recently Sold Properties</h2>
    <div class="row">
        {% for property in sold_properties %}
            <div class="col-12 col-md-6 col-lg-4 mb-4">
                {% include 'core/_property_card.html' with property=property %}
            </div>
        {% empty %}
            <div class="col-12">
                <p>No recently sold properties to display.</p>
            </div>
        {% endfor %}
    </div>
    <p>
        Our reputation for unmatched expertise throughout the land speaks for itself.
    </p>
    <p>From Silvermoon Village to Riverwood, when you choose Seagram, you're choosing a seasoned team who will navigate the real estate market on your behalf.</p>


     <p>   We possess an unparalleled understanding of the market's ebbs and flows, ensuring you receive the most favorable prices for your valuable property.</p>
    <p>Let Seagram Properties guide you through this journey, offering tailored solutions and a network of potential buyers that spans across all four corners of the land.</p>
    <p>Your adventure begins with Seagram, where your real estate dreams find their address.</p>

    <a href="#" class="btn btn-primary mb-4">Request an Appraisal</a>
</div>
{% endblock %}